.company_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon_logo {
    width: 35px;
    cursor: pointer;
}

.company_name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
}
