.content_wrapper {
    /* display: flex;
    align-items: flex-start; */
    /* flex-grow: 1; */

    width: 100%;
    gap: 10px;

    display: grid;
    grid-template-columns: 1fr 280px;
    align-items: flex-start;
}