.favorite {
    z-index: 10;
    grid-area: 1/1/-1/2;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.favorite:hover {
    opacity: 1;
}

.info {
    z-index: 10;
    grid-area: 1/-2/-1/-1;
    cursor: pointer;
    opacity: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.2);
    align-items: center;
    transition-duration: 0.5s;
}

.info:hover {
    opacity: 1;
}

.upright_text {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    width: 10px;
    word-break: break-all;
    line-height: 30px;
}