.page {
    margin-top: 50px;
    padding-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

.page_wrapper {
    width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 180px 1fr;
    align-items: flex-start;
}