.html {
  background-color: aliceblue;
}

.label{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
}
.label.invert{
  color:white;
}



.icon {
  width: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.btn {
  margin-bottom: 10px;
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.btn:hover {
  background-color: rgb(227, 210, 188);
  border-radius: 10px;
}
.btn:last-child {
  margin-bottom: 0;
}